<div class="page-body">
    <%- include('../partials/nav') %>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="mt-2 mb-2"><%- include('../partials/messages') %></div>
        <div class="row">

            <div class="col-sm-12 col-md-12 col-xl-12 mb-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center pb-0">
                        <h5><i class="fa fa-exchange"></i> Transaction Detail</h5>   
                    </div>
                    <div class="card-body">
                        <div class="project-box mb-0">
                          <% if (docs) { %>
                            <div class="row details">
                                    <div class="col-6 p-1"><strong>Product Name </strong></div>
                                    <div class="col-6 p-1"><%=docs?.product_name ? docs.product_name : nil%> </div>
                                    <div class="col-6 p-1"><strong>Amount </strong></div>
                                    <div class="col-6 p-1"><%=docs?.amount ? docs.amount : nil%> </div>

                                    <div class="col-6 p-1"><strong>Token </strong></div>
                                    <div class="col-6 p-1"><%=docs?.token ? docs.token : nil%> </div>
                                    <div class="col-6 p-1"><strong>Currency </strong></div>
                                    <div class="col-6 p-1"><%=docs?.currencyData?.curreny_name ? docs.currencyData?.curreny_name : nil%> </div>
                                    <div class="col-6 p-1"><strong>Merchant Transaction Code </strong></div>
                                    <div class="col-6 p-1"><%=docs?.merchant_transaction_code ? docs.merchant_transaction_code : nil%> </div>
                                    <div class="col-6 p-1"><strong>Ipn URL </strong></div>
                                    <div class="col-6 p-1"><%=docs?.ipn_url ? docs.ipn_url : nil%> </div>
                                    <div class="col-6 p-1"><strong>Return Url </strong></div>
                                    <div class="col-6 p-1"><%=docs?.return_url ? docs.return_url : nil%> </div>
                                    <div class="col-6 p-1"><strong>Cancel Url </strong></div>
                                    <div class="col-6 p-1"><%=docs?.cancel_url ? docs.cancel_url : nil%> </div>

                                    <div class="col-6 p-1"><strong>Gateway Request </strong></div>
                                    <div class="col-6 p-1"><pre class="transactionsData-log-payment-details p-3"><code ><%=docs?.gateway_request ? docs.gateway_request : nil%></code></pre></div>

                                    <div class="col-6 p-1"><strong>Gateway Response </strong></div>
                                    <div class="col-6 p-1"><pre class="transactionsData-log-payment-details p-3"><code ><%=docs?.gateway_response ? docs.gateway_response : nil%></code></pre></div>

                                    <div class="col-6 p-1"><strong>Transaction Code </strong></div>
                                    <div class="col-6 p-1"><%=docs?.transaction_code ? docs.transaction_code : nil%> </div>

                                    <div class="col-6 p-1"><strong>Merchant Gateway Name </strong></div>
                                    <div class="col-6 p-1"><%=docs.vProjectPaymentGatewayData?.gateway_title ? docs.vProjectPaymentGatewayData?.gateway_title : nil%> </div>
                                    <div class="col-6 p-1"><strong>status </strong></div>
                                    <div class="col-6 p-1"><%=docs?.status ? docs.status : nil%> </div>
                                    <div class="col-6 p-1"><strong>Merchant Added Date</strong></div>
                                    <div class="col-6 p-1"><%=docs?.created_at ? formatDate(docs.created_at, "YYYY-MM-DD HH:mm") : nil%> </div>
                            </div>
                            <%}%>  

                        </div>
                    </div>
                </div> 
                    
                </div>
            </div>

        </div>
    </div>
</div>