<form class="d-flex align-items-center" action="<%- url %>" method="get" autocomplete="off">
    <div class="col-lg-8">
        <div class="input-group">
            <div class="input-group date" id="dt-minimum" data-target-input="nearest">
                <input
                class="form-control digits" type="text" name="daterange" id="date-range" value="<%= Object.keys(query).length > 0 &&
                query.daterange !== '' ? query.daterange : defaultRange %>"
                />
                <div class="input-group-text" data-target="#dt-minimum" data-toggle="datetimepicker">
                    <i class="fa fa-calendar"> </i>
                </div>
            </div>   
        </div>
    </div>
    <div class="col-lg-8" style="margin-left: 10px;">
            <div class="inner__border">
                <select class="form-control select2" id="userId" name="user">
                    <option  value="" selected>List of Merchant Users </option>

                    <%if (merchantData !== undefined && merchantData.length > 0 ){%>
                        <%let id =( typeof(query) !== 'undefined' && query.user)? query.user: ''%>
                        <%merchantData.forEach((merchant) =>{ %>
                        <option  value="<%= merchant.id %>"<% if(id && id == merchant.id){ %>selected
                            <%}%>><%= merchant.full_name%></option>
                        <%})%>
                    <%}%>
                </select>  
               
               
            </div>
    </div>

    <div class="">
        <button class="btn btn-primary px-2 mx-1" type="submit">Search</button>
    </div>
    <div class="">
        <a href="<%- url %>" class="btn btn-light px-2">Clear</a>
    </div>
</form>
