<div class="page-body">
    <%- include('../partials/nav') %>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="mt-2 mb-2"><%- include('../partials/messages') %></div>
        <div class="row">
            <div class="col-sm-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/merchants" method="post" class="theme-form mega-form" enctype="multipart/form-data" autocomplete="off">
                                    <div class="mb-3">
                                        <div class="row align-items-baseline mt-3">
                                            <div class="col-lg-6">
                                                <div class="inner__border">
                                                    <label class="col-form-label">Full Name</label>
                                                    <span style="color: red">*</span>
                                                    <input type="text" class="form-control " name="full_name" value="<%= inputData && inputData.full_name ? inputData.full_name : '' %>" required />
                                                </div>
                                            </div>
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <label class="col-form-label">Address</label>
                                                        <input type="tel" class="form-control onlynumIncludeDash" name="address" maxlength="13" value="<%= inputData && inputData.address ? inputData.address : '' %>" />
                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="row align-items-baseline mt-3">
                                            <div class="col-lg-6">
                                                <div class="inner__border">
                                                    <label class="col-form-label">Email</label>
                                                    <span style="color: red">*</span>
                                                    <input type="email" class="form-control " name="email" value="<%= inputData && inputData.email ? inputData.email : '' %>" required/>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="inner__border">
                                                    <label class="col-form-label">Mobile No</label>
                                                    <span style="color: red">*</span>
                                                    <input type="tel" class="form-control onlynum" name="phone_num"
                                                    maxlength="13"
                                                    value="<%= inputData && inputData.phone_num ? inputData.phone_num : '' %>"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="row align-items-baseline mt-3">                     
                                            <div class="col-lg-6">
                                                <div class="inner__border">
                                                    <label class="col-form-label">Password Method</label>
                                                    <div class="col-sm-9">
                                                        <div class="form-check radio radio-primary">
                                                            <input class="form-check-input" type="radio" id="is_password" class="form-check-input passwordMethodRadio" value="is_password" name="password_method" checked>
                                                            <label class="form-check-label" for="is_password">Set Password</label>
                                                        </div>
                                                        
                                                        <div class="form-check radio radio-primary">
                                                            <input class="form-check-input passwordMethodRadio" type="radio" id="is_activation_link" name="password_method"value="is_activation_link">
                                                            <label class="form-check-label text-nowrap" for="is_activation_link">Send Activation Link</label>
                                                        </div>
                                                    </div>
                                                </div>                                          
                                            </div>
                                            <div class="col-lg-6" id="passwordField">
                                                <div class="inner__border">
                                                    <label class="col-form-label">Password</label>
                                                    <span style="color: red">*</span>
                                                    <input type="password" class="form-control" id="password"name="password" value="<%= inputData && inputData.password ? inputData.password: '' %>" minlength="<%= getCmsConfig(configData,'Minimum Password Length') %>" required>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end" >
                                        <button class="btn btn-primary me-2 px-3 submit" type="submit">Save</button>
                                        <a  href="/merchants"  role="button">
                                            <button class="btn btn-light px-3" type="button">
                                                Cancel
                                            </button>
                                        </a>
                                    </div>

                                </form>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/admins.js"></script>



